{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the Navigation region.
 * - page.page_title: Used by Current page Title.
 * - page.banner: Items for the banner region.
 * - page.highlighted: Items for the highlighted top  region.
 * - page.content_top: The main content top of the current page.
 * - page.help: Item for the help region.
 * - page.breadcrumb: Item for the Breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.content_bottom: Items for the bottom in content region.
 * - page.footer_top: Items for the footer top region.
 * - page.footer_first: Items for the footer first region.
 * - page.footer_second: Items for the footer Second region.
 * - page.footer_third: Items for the footer third region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}


<!--start: Header and Navbar -->

<nav class="navbar navbar-default" role="navigation">
  <!--start: Container -->
  <div class="container">
    <div class="row">
     <!--- Start : Header -->
    <!-- Sitename and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if page.header %}
        {{ page.header }}
      {% endif %}
    </div>
    <!--- End :Header -->

    <!--- Start: Navigation -->
    <div class="col-md-9">
    {% if page.primary_menu %}
      {{ page.primary_menu }}
    {% endif %}
    <!---End: Navigation -->
    </div>
    </div>
  </div>
  <!--/.container-->
</nav>
<!--end: Header and Navbar -->

<!--- Start: Page Title -->
{%  if page.page_title and  not is_front %}

  <div id="page-title">
    <div id="page-title-inner">
      <!-- start: Container -->
      <div class="container">
        {{ page.page_title }}
      </div>
    </div>
  </div>
{% endif %}
<!--- End:Page Title -->

<!-- start: Slider -->
{% if is_front %}
  <div class="slider-wrapper">
    <div id="da-slider" class="da-slider">
      {% for slider_contents in slider_content %}
        {{ slider_contents | raw }}
      {% endfor %}
      <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </nav>
    </div>
  </div>
{% endif %}
<!-- end: Slider -->

<!--- Start:layout -->
<div id="wrapper">
  <!-- start: Container -->
  <div class="container">
    <!---Start:highlighted -->
      {% if page.highlighted %}
        <div class="jumbotron">
          {{ page.highlighted }}
        </div>
      {% endif %}
    <!---End:highlighted -->

    <!---Start:content top -->
      {% if page.content_top %}
        <div class="row">
          {{ page.content_top }}
        </div>
      {% endif %}
    <!---End:Content top -->
    <!-- start: Row -->
    <!--start:content -->
    <div class="row layout">
      <!-- Start:Left SideBar -->
      {% if page.sidebar_first %}
        <div class="sidebar" >
          <div class = {{  sidebarfirst }} >
            {{ page.sidebar_first }}
          </div>
        </div>
      {% endif %}
      <!-- End:Right SideBar -->

      <!-- Start:content -->
      {% if page.content %}
        <div class = " content_layout ">
          <div class= {{ contentlayout }}>
            {{ page.breadcrumb }}
            {{ page.content }}
          </div>
        </div>
      {% endif %}
      <!-- End:content -->

      <!-- Start:Right SideBar -->
      {% if page.sidebar_second %}
        <div class="sidebar">
          <div class={{  sidebarsecond }}>
            {{ page.sidebar_second }}
          </div>
        </div>
      {% endif %}
      <!-- End:Right SideBar -->
    </div>
    <!---End:Content -->
    <!---Start:content bottom -->
    {% if page.content_bottom %}
      <div class="row">
        {{ page.content_bottom }}
      </div>
    {% endif %}
    <!-- End:Content Bottom -->
  </div>
</div>
<!--- End:layout -->

<!-- start: Footer Menu -->
{% if page.footer_menu %}
  <div id="footer-menu" class="hidden-sm hidden-xs">
    <!-- start: Container -->
    <div class="container">
      <!-- start: Row -->
      <div class="row">
        <!-- start: Footer Menu Logo -->
        <div class="col-sm-2">
          <div id="footer-menu-logo">
            <a class="brand" href={{ front_page }} > {{ site_name }}. </a>
          </div>
        </div>
        <!-- end: Footer Menu Logo -->
        <!-- start: Footer Menu Links-->
        <div class="col-sm-9">
          <div id="footer-menu-links">
            {{ page.footer_menu }}
          </div>
        </div>
        <!-- end: Footer Menu Links-->
        <!-- start: Footer Menu Back To Top -->
        <div class="col-sm-1">
          <div id="footer-menu-back-to-top">
            <a href="#"></a>
          </div>
        </div>
        <!-- end: Footer Menu Back To Top -->
      </div>
      <!-- end: Row -->
    </div>
    <!-- end: Container  -->
  </div>
{% endif %}
  <!-- end: Footer Menu -->

<!-- start: Footer -->
{% if page.footer_first or page.footer_second or page.footer_third %}
  <div id="footer">
    <!-- start: Container -->
    <div class="container">
      <!-- start: Row -->
      <div class="row">
        <!--- Start:Footer First Region -->
        <div class = {{ footer_class }}>
          {% if page.footer_first %}
            {{ page.footer_first }}
          {% endif %}
        </div>
        <!--- End :Footer First Region -->
        <!--- Start:Footer Second Region -->
        <div class = {{ footer_class }}>
          {% if page.footer_second %}
            {{ page.footer_second }}
          {% endif %}
        </div>
        <!--- End:Footer Second Region -->
        <!--- Start:Footer third Region -->
        <div class = {{ footer_third_class }}>
          {% if page.footer_third %}
            {{ page.footer_third }}
          {% endif %}
        </div>
        <!--- End:Footer Third Region -->
      </div>
    </div>
  </div>

{% endif %}

<!---End :Footer -->

<!--- Start:Footer Botoom -->
<div id="copyright">
  <!-- start: Container -->
  <div class="container">
    <div class="col-sm-12">
      {% if page.footer_bottom %}
	{{ page.footer_bottom }}
      {% endif %}
      <div class="clearfix"></div>
      <div class="credited pull-left"><p class="text-center">{{ 'Paxton ported to drupal by'|t }} <a href="http://dropthemes.in" target="_blank">DropThemes.in</a></p></div>
      {% if show_social_icons %}
	<div class="social pull-right">
	  <a href="{{ facebook_url }}"  class="bblue" target="_blank" ><i class="fa fa-facebook"></i></a>
	  <a href="{{ google_plus_url }}"  class="borange" target="_blank" ><i class="fa fa-google-plus"></i></a>
	  <a href="{{ twitter_url }}" class="blightblue" target="_blank" ><i class="fa fa-twitter"></i></a>
	  <a href="{{ linkedin_url }}" class="bviolet" target="_blank"><i class="fa fa-linkedin"></i></a>
	  <a href="{{ pinterest_url }}" class="bred" target="_blank" ><i class="fa fa-pinterest"></i></a>
	  <a href="{{ rss_url }}" class="borange" target="_blank" ><i class="fa fa-rss"></i></a>
	</div>
      {% endif %}
    </div>
  </div>
</div>
